

body{
    padding: 0%;
    margin: 0%;
    background: #ffff;
    font-family: sans-serif;
}
.menusuperior{
    padding: 0%;
    margin: 0%;
    background: #006400;
    height: 8rem;
}
.menu{
    display: flex;
    justify-content: end;
    margin-left: 15rem;
    margin-top: -5%;
    justify-content: space-evenly;
}
#drop{
    border: none;
    background: none;
    color: #fff;
    text-decoration: none;
}

.logo{
    margin-top: 1%;
    margin-left: 2%;
}
.entrar{
    margin-top: -1%;
}

@media only screen and (max-width: 768px){
    .menu{
        display: flex;
        justify-content: end;
        margin-left: 12rem;
        margin-top: -7%;
        justify-content: space-evenly;
    }
    .entrar{
        margin-top: -2%;
    }
}

@media only screen and (max-width: 600px){
    .menu{
        display: flex;
        justify-content: end;
        margin-left: 7rem;
        margin-top: -7%;
        justify-content: space-evenly;
    }
}