
.card-login{
    display: flex;
    justify-content: center;
    background: #ffff;
    margin-top: 40%;
  
}
.campo-email-senha{
    display: grid;
    justify-content:center;
    margin-bottom: 25%;
}
.titulo-login{
    display: flex;
    justify-content: center;

  
}
#titlle-login{
    font-family: sans-serif;
    color: #006400;
    font-size: 32px;
}
.botaoentrar{
    display: flex;
    justify-self: center;
}
#botao-login{
    background: #006400;
    color: #fff;
    width: 10rem;
    height: 2rem;
}

.Corpo-login{
    background: #006400;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#tamanho-card-login{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
}
.logo-telalogin{
    display: flex;
    margin-left: 200%;
}

#p-esquecisenha{
    font-size: 11px;
    color: #9c9c9c;
}
.campo-cadastrese{
    display: flex;
    justify-content:center;
    margin-bottom: -8%;
}
#p-cadastre{
    font-size: 14px;
    color: #006400;
}

#botao-cadastrese{
    font-size: 12px;
    font-family: sans-serif;
    color: #006400;
    background: none;
    width: 7rem;
    height: 2rem;
    margin-top: 3%;
}

@media only screen and (max-width: 768px){
    .card-login{
        display: flex;
        justify-content: center;
    }
}